<div class="background-carousel" data-controller="background">
  <div class="banner-title">
    <h1>Unleash Your Imagination with Storian</h1>
    <h3>The Ultimate Worldbuilding App for Fantasy & Sci-Fi Authors</h2>
    <h5>Craft intricate worlds, unforgettable characters, and immersive histories in one powerful tool. Elevate your storytelling today!</h4>
  </div>
  <div class="banner-copy">
    <p>
      Welcome to Storian, where your creative visions come to life. Our app offers a unique, all-in-one platform designed specifically for authors of fantasy and science fiction. With Storian, you can build rich, detailed worlds filled with diverse races, complex nations, intriguing religions, memorable characters, and captivating historical events.
      Unchain your creative potential with our user-friendly interface and intelligent features, empowering you to weave intricate narratives that will leave your readers spellbound. Storian streamlines your worldbuilding process, allowing you to focus on what truly matters - telling incredible stories.
      Why wait? Join the growing community of authors who have already discovered the unparalleled power of Storian. Sign up now and begin your journey to masterful storytelling. Elevate your writing and turn your dreams into reality with Storian.
    </p>
  </div>
</div>
