<div class="background-carousel" data-controller="background">
  <div class="banner-title">
    <h1>UNLEASH YOUR IMAGINATION WITH STORIAN</h1>
    <h3>The Ultimate Worldbuilding App for Fantasy & Sci-Fi Authors</h2>
    <h5>Craft intricate worlds filled with unforgetable characters, magical places, and unique ideas in one powerful tool</h4>
  </div>
  <div class="banner-buttons">
    <a class="btn btn-ghost" href=<%=landing_learn_more_path%>>Learn more</a>
    <% unless user_signed_in? %>
      <a class="btn btn-flat" href=<%=new_user_registration_path%>>Sign up</a>
    <% end %>
  </div>
</div>


<%# <p>
      Welcome to Storian, where your creative visions come to life. Our app offers a unique, all-in-one platform designed
      specifically for authors of fantasy and science fiction. With Storian, you can build rich, detailed worlds filled
      with diverse races, complex nations, intriguing religions, memorable characters, and captivating historical events.
    </p>
    <p>
      Unchain your creative potential with our user-friendly interface and intelligent features, empowering you to weave
      intricate narratives that will leave your readers spellbound. Storian streamlines your worldbuilding process, allowing
      you to focus on what truly matters - telling incredible stories.
      Why wait? Join the growing community of authors who have already discovered the unparalleled power of Storian.
      Sign up now and begin your journey to masterful storytelling. Elevate your writing and turn your dreams into reality with Storian.
    </p> %>
