<h3 class="form-title">Create a new Race</h3>
<div class="form-container">
  <%= form_with model: [@world, @race], local: true do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
