.footer {
  padding: 2rem 0;
  background-color: white;

  .container {
    max-width: 1200px;
    max-height: 300px;
    margin: 0 auto;
  }

  .text-muted {
    margin-bottom: 0;
    color: #6c757d;
    font-size: 14px;
  }
}

.clearance {
  min-height: 50px;
}
