.navbar {
  background-color: transparent;
  margin-right: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.dropdown-menu {
  background-color: white;
  left: auto;
  right: 10px;
  top: 50px;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.nav-item.dropdown {
  margin-top: 5px;
  position: relative;
}

.logo-image {
  max-width: 150px;
  padding-left: 10px;
}

.nav-link {
  color: white;
}
